body {
  background-image: url("/bg.jpg"); /* Make sure to use a relative path */
  background-size: 50%; /* Increase size to zoom out, reduce if you want to zoom in */
}

.gridColor {
  background-color: #C5D8D1;
}

.headerBackground {
  background-color: #C5D8D1;
}

.centerContent {
  display: flex;
  justify-content: center;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%; /* Fill the height */
}

.imageMargin {
  margin-top: 10px;
  margin-bottom: 5px;
}

.ellipsisText {
  display: inline-block;
  max-width: 180px; /* Adjust width as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.imageContainer {
  position: relative;
  display: inline-block;
}
