body {
  background-color: #fbf7ea;
}

.gridColor {
  background-color: #efefedf0;
}

.headerBackground {
  background-color: #efefedf0
}

.centerContent {
  display: flex;
  justify-content: center;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.imageMargin {
  margin-top: 10px;
  margin-bottom: 5px;
}

.ellipsisText {
  display: inline-block;
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.carBg1 {
  background-color: #7D4E57;
}

.carBg2 {
  background-color: #D66853;
}

.carBg3 {
  background-color: #364156;
}